.label,
.textfield {

    font-weight: bold;
    line-height: 1.5em;
    text-align: center;
    margin: 10px;
}

.login a,
input[type="submit"] {
    background-color: #EFEFEF;
    border-radius: 10px;
    border-right: 1px solid #bbb;
    border-bottom: 2px solid #bbb;
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-size: 1.1em;
    margin: 0.6em;
    padding: 0.6em 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #fff;
}

a:hover,
input[type="submit"]:hover {
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background-color: #EAFFC4;
}