.navbar-nav {
    background-color: #f3f3f3;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0 20px 20px 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.nav-item {
    float: right;
}

.nav-item a {
    color: #666;
    display: block;
    text-align: center;
    margin-top: 16px;
    padding: 1em;
    text-decoration: none;
}

.nav-item a:hover:not(.active) {
    background-color: #ddd;
}

.nav-item a.active {
    color: white;
    background-color: #a8cf45;
}


header #logo {
    position: fixed;
    left: 0px;
    margin-left: 20px;
    /* top: 0px; */
    z-index: 999;
}

@media all and (max-width: 800px) {
    .navbar-nav {
        justify-content: last baseline;
    }
}

@media all and (max-width: 600px) {
    .navbar-nav {
        flex-flow: column wrap;
        padding: 0;
        position: fixed;
        top: 0px;
        z-index: 999;
    }

    #logo {
        top: 100px;
        position: fixed;
        margin: 25px;
    }

    .navbar-nav .nav-item a {
        text-align: center;
        margin: 0;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    }

    .nav-item:last-of-type a {
        border-bottom: none;
    }

}